*{
    padding: 0;
    margin: 0;
    font-family:sans-serif;

}

body{
    background: url('../uoft.jpg') no-repeat;
    background-size: cover;
    background-color: rgba(146, 145, 145, 0.199);
    color: antiquewhite;
}


.login-form{
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: rgba(54, 54, 54, 0.897);
    border: 10px solid rgba(54, 54, 54, 0.897);
}

.login-form h1{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
}

.login-form p{
    font-size: 20px;
    margin: 15px 0;
    margin-left: 13px;
}

.login-form input{
    margin-left: 5%;
    margin-bottom: 15px;
    font-size: 16px;
    width: 80%;
    padding: 15px 10px;
    padding-left: 20px;
    border: 0;
    outline:none;
    border-radius: 5px;
}

.choice:hover{
    margin-bottom: 15px;
}

.login-form .text:active{
    border: 1px solid #3498db;
    margin-bottom: 13px;
}

.login-form .text:focus{
    border: 1px solid #3498db;
    margin-bottom: 13px;
}

.login-form .text:hover{
    border: 1px solid #3498db;
    margin-bottom: 13px;
}

.login-form text{
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    width: 50%;
    border-radius: 5px;
    border: 0;
}

.btn {
    border: 1px solid #3498db;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    color: #3498db;
    background-color: rgba(54, 54, 54, 0.897);
}
  
.btn:hover {
    color: antiquewhite;
    border: 1px solid #3498db;
}

.btn:active{
    color: antiquewhite;
    border: 1px solid #3498db;
}