<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../static/accept.css">
        <title>CSCB63 Feedback</title>
    </head>

    <body>
        {% extends "index.html" %}
        {% block content %}
        <div class="content">
            <h3>Course Feedback</h3>
            <hr class="description">
            
            <h4>We Got Your Suggestions And Will Keep Improving This Course!!</h4>
        </div>
        {% endblock %}
    </body>
</html>