<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../static/showAllGrade.css">
        <title>CSCB63 Student Feedbacks</title>
    </head>

    <body>
        {% extends "index.html" %}
        {% block content %}
        <div class="content">
            <h3>All Feedbacks</h3>
            <hr class="description">


            <div class="container">
                <table>
                    <tr>
                        <th>Student</th>
                        <th>Feedback</th>
                    </tr>
                    {% for item in feedback %}
                    <tr>
                        <td class="name">{{item['username']}}</td>
                        <td>{{item['content']}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        {% endblock %}
    </body>
</html>
