<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../static/feedback.css">
        <title>CSCB63 Feedback</title>
    </head>

    <body>
        {% extends "index.html" %}
        {% block content %}
        <div class="content">
            <h3>Course Feedback</h3>
            <hr class="description">
            
              <p>Select your instructor</p>

            <input type="radio"  name="Abbas">
            <label for="A">{{instructors[0]}}</label><br>
            <label for="A">{{instructors[1]}}</label><br>
            <label for="A">{{instructors[2]}}</label><br>

            <div class="container">
                <form action="{{ url_for('feedback')}}" method="POST">
                    <p class="question">What do you like about the instructor teaching?</p>
                    <textarea name="teaching" placeholder="Enter feedback here." rows="10" cols="180"></textarea>

                
                    <p class="question">What do you recommend the instructor to do to improve their teaching?</p>
                    <textarea name="improve_ins"  placeholder="Enter feedback here." rows="10" cols="180"></textarea>

                
                    <p class="question">What do you like about the labs?</p>
                    <textarea name="labs"  placeholder="Enter feedback here." rows="10" cols="180"></textarea>

                
                    <p class="question">What do you recommend the lab instructors to do to improve their lab teaching?</p>
                    <textarea name="improve_lab"  placeholder="Enter feedback here." rows="10" cols="180"></textarea>

                    <input class="block" type="submit" value="Send">
                </form>
            </div>
        </div>
        {% endblock %}
    </body>
</html>
