<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../static/feedback.css">
        <title>CSCB63 Feedback</title>
    </head>

    <body>
        {% extends "index.html" %}
        {% block content %}
        <div class="content">
            <h3>Course Feedback</h3>
            <hr class="description">

            <div class="container">
                <form action="{{ url_for('feedback')}}" method="POST">
                     <p>What do you like about the instructor teaching?</p>
                     <textarea name="message" placeholder="Enter feedback here." rows="10" cols="180"></textarea>

                <form action="{{ url_for('feedback')}}" method="POST">
                    <p>What do you recommend the instructor to do to improve their teaching?</p>
                    <textarea name="message"  placeholder="Enter feedback here." rows="10" cols="180"></textarea>

                <form action="{{ url_for('feedback')}}" method="POST">
                    <p>What do you like about the labs?</p>
                    <textarea name="message"  placeholder="Enter feedback here." rows="10" cols="180"></textarea>

                <form action="{{ url_for('feedback')}}" method="POST">
                    <p>What do you recommend the lab instructors to do to improve their lab teaching?</p>
                    <textarea name="message"  placeholder="Enter feedback here." rows="10" cols="180"></textarea>

                <br/>

                <br><br>

                <button type="button" class="block">Submit</button>
                </form>
            </div>
        </div>
        {% endblock %}
    </body>
</html>
