<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../static/lecture.css">
        <title>CSCB63 Lecture Notes</title>
    </head>

    <body>
        {% extends "index.html" %}
        {% block content %}
        <div class="content">
            <h3>Lecture Notes</h3>
            <hr class="description">

            <div class="grid-container">
                <div id="grid-item1"><h4>Week</h4></div>
                <div id="grid-item2"><h4>Topic</h4></div>
                <div id="grid-item3"><h4>Wed. Lec</h4></div>
                <div id="grid-item4"><h4>Thurs. Lec</h4></div>

                <div class="col1"><p>1</p></div>
                <div class="col2"><p>Intro Worst Case Complexity</p></div>
                <div class="col3">
                    <a class="link" style="display: inline;" href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf">Lecture note</a>
                    <p style="display: inline;"> & </p>
                    <a class="link" style="display: inline;" href="https://utoronto.zoom.us/rec/play/w5Ims_xwzyJUVhutTMqNBT0caqXCWYyMWx5X-FJvA1dFPpCrjdO8V5osw6hsxEM74HVTmX9jZ2jdwCLj.qvnXbtIQPChGF0bo">Zoom recording</a>
                </div>
                <div class="col4">
                    <a class="link" style="display: inline;" href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf">Lecture note</a>
                    <p style="display: inline;"> & </p>
                    <a class="link" style="display: inline;" href="https://utoronto.zoom.us/rec/play/w5Ims_xwzyJUVhutTMqNBT0caqXCWYyMWx5X-FJvA1dFPpCrjdO8V5osw6hsxEM74HVTmX9jZ2jdwCLj.qvnXbtIQPChGF0bo">Zoom recording</a>
                </div>

                <div class="col1"><p>2</p></div>
                <div class="col2"><p>Balanced Trees (AVL)</p></div>
                <div class="col3">
                    <a class="link" style="display: inline;" href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf">Lecture note</a>
                    <p style="display: inline;"> & </p>
                    <a class="link" style="display: inline;" href="https://utoronto.zoom.us/rec/play/cPkKVMthfBjSNh8C9arS5iU0ZBNtkUX8etKMklUCM8aPpiVtnl2_Y5YR_cWddFB2vlWa0jkGSEqWNEhk.hNVzvFkr8380FGns">Zoom recording</a>
                </div>
                <div class="col4">
                    <a class="link" style="display: inline;" href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf">Lecture note</a>
                    <p style="display: inline;"> & </p>
                    <a class="link" style="display: inline;" href="https://utoronto.zoom.us/rec/play/YJYxBNbdKY8lIY98qjI_jHY5ZC73gSUeFCtAKmy6xJF6GEtw_VWFTFGr_guqhthaDEoRhYogPHBbR3fa.c5lUGL0uWjqS5aUX">Zoom recording</a>
                </div>

                <div class="col1"><p>3</p></div>
                <div class="col2"><p>AVL Trees height, and Augment. Interval Trees</p></div>
                <div class="col3">
                    <a class="link" style="display: inline;" href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf">Lecture note</a>
                    <p style="display: inline;"> & </p>
                    <a class="link" style="display: inline;" href="https://utoronto.zoom.us/rec/play/xe3-BWhQIa99HuA6ar-kqNg028IUwxpfPnCN0r4sFtxP0_-MDbeK6coEm-bLm7b8GzO6FTwMXr9uqcMf.IvWbqDbkC9o5p3R1">Zoom recording</a>
                </div>
                <div class="col4">
                    <a class="link" style="display: inline;" href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf">Lecture note</a>
                    <p style="display: inline;"> & </p>
                    <a class="link" style="display: inline;" href="https://utoronto.zoom.us/rec/play/79LC30arivLpru-P863qalDb3ZjdsfdFrBMQPw-LuxDxxyvhcF_SURRw1zHHzgoW4UaVzrkNw-akYHC9.z4jw34MXv1txuaEo">Zoom recording</a>
                </div>

                <div class="col1"><p>4</p></div>
                <div class="col2"><p>Finish Interval Trees, Heaps and Graph Search Algorithms</p></div>
                <div class="col3">
                    <a class="link" style="display: inline;" href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf">Lecture note</a>
                    <p style="display: inline;"> & </p>
                    <a class="link" style="display: inline;" href="https://utoronto.zoom.us/rec/play/zpBKZxDPmhHRldejrZ0fnXt1Cvrp0ofjSzjzXwQiDCrBze29y1GDemjGLp8uMLg0txf5m4_Sl_j8Zg0g.17AKCDIZldEHg825">Zoom recording</a>
                </div>
                <div class="col4">
                    <a class="link" style="display: inline;" href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf">Lecture note</a>
                    <p style="display: inline;"> & </p>
                    <a class="link" style="display: inline;" href="https://utoronto.zoom.us/rec/play/cdZUm3Uso9zxI5cres_xWo-TFx4FObO-q42FyWdkhqHY3GtHnxdXVUldc8YjVobpapnvkGGfbRHntZKV.DpkZreT6rHqqcwT2">Zoom recording</a>
                </div>

                <div class="col1"><p>5</p></div>
                <div class="col2"><p>Graph Searches and Minimum Spanning Trees</p></div>
                <div class="col3">
                    <a class="link" style="display: inline;" href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf">Lecture note</a>
                    <p style="display: inline;"> & </p>
                    <a class="link" style="display: inline;" href="https://utoronto.zoom.us/rec/play/w5Ims_xwzyJUVhutTMqNBT0caqXCWYyMWx5X-FJvA1dFPpCrjdO8V5osw6hsxEM74HVTmX9jZ2jdwCLj.qvnXbtIQPChGF0bo">Zoom recording</a>
                </div>
                <div class="col4">
                    <a class="link" style="display: inline;" href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf">Lecture note</a>
                    <p style="display: inline;"> & </p>
                    <a class="link" style="display: inline;" href="https://utoronto.zoom.us/rec/play/SCnzsPIBWdq0QN1KR9XM6yNQrRbY0n7iQwRZWlzycAsmUBJ0Qo0BlSLbE3jDoBP0TXfExU3mQcmS0jwS.5o01Wyhv502R1fm9">Zoom recording</a>
                </div>

                <div class="col1"><p>6</p></div>
                <div class="col2"><p>Proof of Prims, Dijkstra's Algorithm, Strongly Connected Components</p></div>
                <div class="col3">
                    <a class="link" style="display: inline;" href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf">Lecture note</a>
                    <p style="display: inline;"> & </p>
                    <a class="link" style="display: inline;" href="https://utoronto.zoom.us/rec/play/s8HE2dtGwcl7OWtfMMlQ9I_ivR3mmbieSP3lPhYygBqdIj7Do-uExVtGY5Ln-f0Pj9whkVdMS5w8hIU4.Glja1FlY-UeG3zYv">Zoom recording</a>
                </div>
                <div class="col4">
                    <a class="link" style="display: inline;" href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf">Lecture note</a>
                    <p style="display: inline;"> & </p>
                    <a class="link" style="display: inline;" href="https://utoronto.zoom.us/rec/play/-Trk15VmueBwP8g1ewUUDeMIp-jSbJT8RDztfFgbkbVvsJBFNTLr6h4ootD2bC7jyX9HiQomclqYqbYH.XEg8QLRQfSMQ0iv4">Zoom recording</a>
                </div>

                <div class="col1"><p>7</p></div>
                <div class="col2"><p>Amortized Analysis</p></div>
                <div class="col3">
                    <a class="link" style="display: inline;" href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf">Lecture note</a>
                    <p style="display: inline;"> & </p>
                    <a class="link" style="display: inline;" href="https://utoronto.zoom.us/rec/play/Ms9uZypiMbcYSes1jevEOJZf8cqMq_PBybH85r2rEdaARuXQOQcWF3dYgiaidZqGQTuaqchmJ1-hax4D.JS_0iOHyLPMjt66M">Zoom recording</a>
                </div>
                <div class="col4">
                    <a class="link" style="display: inline;" href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf">Lecture note</a>
                    <p style="display: inline;"> & </p>
                    <a class="link" style="display: inline;" href="https://utoronto.zoom.us/rec/play/CkJgpEBfL2nrdOuItJHlNO5xC3Uvy4-yYQePug3l-GEWE0h1ANwKM3H-pIrUfDv8WMUcJRXbFdaSUHi3.AmfGlBo6OeKxBGrb">Zoom recording</a>
                </div>

                <div class="col1"><p>8</p></div>
                <div class="col2"><p>Disjoint Sets, Fibonacci Heaps</p></div>
                <div class="col3">
                    <a class="link" style="display: inline;" href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf">Lecture note</a>
                    <p style="display: inline;"> & </p>
                    <a class="link" style="display: inline;" href="https://utoronto.zoom.us/rec/play/BM5ICZEeNZV0HlYeDiza1zvzCOPstKNpe6uxOw2pmw5Uq20Upz23r89scLKdSj6fgk033vB2RMclIV85.1ydcqiZ09BXwkTNh">Zoom recording</a>
                </div>
                <div class="col4">
                    <a class="link" style="display: inline;" href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf">Lecture note</a>
                    <p style="display: inline;"> & </p>
                    <a class="link" style="display: inline;" href="https://utoronto.zoom.us/rec/play/1xPM9-18oaFDzYKGHkwns_sBKZzpnpzgFDLvUyus1pdvP2FaYswyK4MTs329Hdq9_f_xpA8we7vb1JVy.yEqV7pl8ySuN6K__">Zoom recording</a>
                </div>
            </div>
        </div>
        {% endblock %}
    </body>
</html>