<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>User does not exist</title>
        <link rel="stylesheet" type="text/css" href="../static/logout.css">
    </head>

    <body>
        <div id="backbtn">
            <button type="button" onclick="location.href='/'" class='btn1'>BACK</button>
        </div>

        <div id="content">
            <p id="logoutmsg">CHECK AGAIN YOUR USERNAME AND PASSWORD</p>
            <P class="msg">The username / password is wrong</P>
        </div>
    </body>

</html>