<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../static/tutorial.css">
        <title>CSCB63 Tutorial</title>
    </head>

    <body>
        {% extends "index.html" %}
        {% block content %}    
        <div class="content">
            <h3>Tutorial Materials</h3>
            <hr class="description">
            <div class="grid-container">
                <div id="grid-item1"><h4>Week</h4></div>
                <div id="grid-item2"><h4>Topic</h4></div>
                <div id="grid-item3"><h4>Material</h4></div>
                <div id="grid-item4"><h4>Recording</h4></div>

                <div class="col1"><p>1</p></div>
                <div class="col2"><p>Intro Worst Case Complexity</p></div>
                <div class="col3">
                    <a class="link" href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf">Week 1 Material</a>
                </div>
                <div class="col4">
                    <a class="link" href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf">Zoom Recording 1</a>
                </div>

                <div class="col1"><p>2</p></div>
                <div class="col2"><p>Balanced Trees (AVL)</p></div>
                <div class="col3">
                    <a class="link" href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf">Week 2 Material</a>
                </div>
                <div class="col4">
                    <a class="link" href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf">Zoom Recording 2</a>
                </div>

                <div class="col1"><p>3</p></div>
                <div class="col2"><p>AVL Trees height, and Augment. Interval Trees</p></div>
                <div class="col3">
                    <a class="link" href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf">Week 3 Material</a>
                </div>
                <div class="col4">
                    <a class="link" href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf">Zoom Recording 3</a>
                </div>

                <div class="col1"><p>4</p></div>
                <div class="col2"><p>Finish Interval Trees, Heaps and Graph Search Algorithms</p></div>
                <div class="col3">
                    <a class="link" href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf">Week 4 Material</a>
                </div>
                <div class="col4">
                    <a class="link" href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf">Zoom Recording 4</a>
                </div>

                <div class="col1"><p>5</p></div>
                <div class="col2"><p>Graph Searches and Minimum Spanning Trees</p></div>
                <div class="col3">
                    <a class="link" href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf">Week 5 Material</a>
                </div>
                <div class="col4">
                    <a class="link" href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf">Zoom Recording 5</a>
                </div>

                <div class="col1"><p>6</p></div>
                <div class="col2"><p>Proof of Prims, Dijkstra's Algorithm, Strongly Connected Components</p></div>
                <div class="col3">
                    <a class="link" href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf">Week 6 Material</a>
                </div>
                <div class="col4">
                    <a class="link" href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf">Zoom Recording 6</a>
                </div>

                <div class="col1"><p>7</p></div>
                <div class="col2"><p>Amortized Analysis</p></div>
                <div class="col3">
                    <a class="link" href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf">Week 7 Material</a>
                </div>
                <div class="col4">
                    <a class="link" href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf">Zoom Recording 7</a>
                </div>

                <div class="col1"><p>8</p></div>
                <div class="col2"><p>Disjoint Sets, Fibonacci Heaps</p></div>
                <div class="col3">
                    <a class="link" href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf">Week 8 Material</a>
                </div>
                <div class="col4">
                    <a class="link" href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf">Zoom Recording 8</a>
                </div>
            </div>

            <br>
            <br>
            <h3>Tutorial Timetable</h3>
            <hr class="description">

            <div class="timetablegrid-container">
                <div class="timecol1"><p>TUT0001 Tues. 7-8pm</p></div>
                <div class="timecol2"><a class="link" href="https://utoronto.zoom.us/j/89553548645">Zoom Link</a></a></div>

                <div class="timecol1"><p>TUT0002 Weds. 7-8pm</p></div>
                <div class="timecol2"><a class="link" href="https://utoronto.zoom.us/j/89553548645">Zoom Link</a></a></div>
                
                <div class="timecol1"><p>TUT0003 Thurs. 5-6pm</p></div>
                <div class="timecol2"><a class="link" href="https://utoronto.zoom.us/j/89553548645">Zoom Link</a></a></div>

                <div class="timecol1"><p>TUT0004 Fri. 12-1pm</p></div>
                <div class="timecol2"><a class="link" href="https://utoronto.zoom.us/j/89553548645">Zoom Link</a></a></div>

                <div class="timecol1"><p>TUT0005 Thurs. 6-7pm</p></div>
                <div class="timecol2"><a class="link" href="https://utoronto.zoom.us/j/89553548645">Zoom Link</a></a></div>

                <div class="timecol1"><p>TUT0007 Weds. 10-11am</p></div>
                <div class="timecol2"><a class="link" href="https://utoronto.zoom.us/j/89553548645">Zoom Link</a></a></div>

                <div class="timecol1"><p>TUT0008 Fri. 9-10am</p></div>
                <div class="timecol2"><a class="link" href="https://utoronto.zoom.us/j/89553548645">Zoom Link</a></a></div>

            </div>
        </div>
        {% endblock %}
    </body>
</html>